/* Enter your custom styles here */
.unset-border {
	border: unset;
}

.hidden-block {
	display: none;
}

/* Align center table items */
.sapFDynamicPageContent .sapUiTableHeaderDataCell .sapMLabel {
	width: 100%;
	display: flex;
	justify-content: center;
}
.sapFDynamicPageContent .sapUiTableHeaderDataCell .sapMLabelTextWrapper {
	text-align: center;
}

/* Align left for text items */
.text-align-left {
	text-align: left;
	width: 100% !important;
}

/*---------------------------------------- 

  Busy Indicator Override 

----------------------------------------*/
.sapUiLocalBusyIndicatorSizeBig {
	font-size: 1rem;
	background-color: transparent;
}
